.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create_form input{
  width: 12em;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
  font-size: large;
}
.create_form button{
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.task{
  display: flex;
  align-items: center;
  width: 18em;
  height: 2em;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: bold;
}
.checkbox{
  display: flex;
  align-items: center;
}
.checkbox .icon{
  margin-right: 15px;
  font-size: 15px;
}

.task div span{
  margin: 0 5 0 4;
}

.task div .icon{
  cursor: pointer;
}

.line_through{
  text-decoration: line-through;
}